.table {
    border-top: 2px solid black !important;
    width: 85% !important;
    margin: 0 auto;
    float: none;
}

#table-header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 75px auto 20px;
}

#patient-add-edit {
    width: 50% !important;
    margin: 50px auto;
    float: none;
}

#patient-add-edit > h2 {
    margin-bottom: 50px;
}

.my-btn {
    background-color: #80d0d3 !important;
    border-color: #80d0d3 !important;
}
