.nav-link:hover {
    cursor: pointer;
}

.nav-link, .nav-item {
    color: white !important;
}


.active {
    font-weight: bold;
}

.navbar {
    background-color: #80d0d3 !important;
}

img {
    margin: 0 50px;
}

.btn-light {
    margin-left: 10px !important;
}